:root{
    /*colours */
    --color-text:#000;
    --color-primary:#FFEFCB;
    --color-secondary:#DFCAA0;
    --color-dark:#6F4D38;
    --color-bg:#cbb799;


    /*fonts */
    --font-robot:"roboto";


}